<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Product List</title>
    <link rel="stylesheet" href="/css/view-products-admin.css">
</head>
<body>

<h2>Product List</h2>

<table id="productTable">
    <thead>
    <tr>
        <th>Name</th>
        <th>Description</th>
        <th>Quantity</th>
        <th>Price</th>
    </tr>
    </thead>
    <tbody>
    <!-- Product rows will be dynamically inserted here -->
    </tbody>
</table>

<script src="/js/view-products-admin.js"></script>
</body>
</html>
